@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --bs-body-font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
}

.navbar-brand {
    font-family: 'Poppins', Verdana, Tahoma, sans-serif;
    font-size: 2rem;
}